
header{
    background-color: #222831;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 3rem;
    color: #EEEEEE;
}
body{
    background-color: #EEEEEE;
}
.head{
    /* background-color: blue; */
    /* font-size: larger; */
    font-size: 3rem;
    color: black;
    /* color: aliceblue; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.Container>div{
    /* margin: 3% 0%; */
    /* padding:; */
}

.Banner{
    /* margin-top: 0%; */
    background-color:#393E46;
    /* width: ; */
    height: 30vh;
}

/*  */
.user-image{
    position: relative;
    padding: 3em 0;
    /* background-color: #393E46; */
    background-image: linear-gradient(70deg,#393E46,#393E46);
}
 
.user-image img{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    box-shadow:  0 0.6em 1.8em ;
    object-fit: cover;
}
/*  */
.Logo{
    border-radius: 100%;
    z-index: 1;
    /* overflow-y: auto; */
    background-color: #222831;
    height: 20vh;
    width: 25vw;
}
.club-name{
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: space-between; */
    /* align-content: space-between; */
    margin-top: 3%;
    font-size: larger;
    /* background-color: #222831; */
    border-radius: 60px;
}
.club-name > h2{
    font-size:x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* .club-name>*{
    padding: 0% 10%;
    display: inline;
} */
.Description{
    padding: 4%;
    /* padding: auto; */
    border-radius: 60px;
    background-color: #00ADb5;
    height: auto;
    margin: 3% 0%;
}
.Core-team{
    padding: 4%;
    /* padding: auto; */
    border-radius: 60px;
    background-color: #393E46;
    height: 40vh;
    height: auto;
    margin: 3% 0%;
}
.Socials{
    padding: 4%;
    border-radius: 60px;
    background-color: #00ADb5;
    /* height: 40vh; */
    height: auto;
    margin: 3% 0%;
}
.Socials>a{
    text-decoration: none;
}